*{
    margin: 0;
    line-height: calc(1em + 0.5rem)
}
html{
    scroll-behavior: smooth;
    background-color: #051923;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*==========NAVBAR==========*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
}
.navbar__logo{
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar__links ul{
    display: flex;
    gap: 1rem;
}
.navbar__links li{
    list-style: none;
}
.navbar__links a{
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    display: block;
}
.toggle{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 610px){
    .toggle{
        display: flex;
    }
    .navbar__links{
        display:none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar__links li{
        text-align: center;
    }
    .navbar__links li a{
        padding: .5rem 1rem;
    }
    .navbar__links.active{
        display: flex;
    }
}

/*==========NAVBAR==========*/
.current{
    width: 100%;
    height: 30vh;
    background-color:#003554;
    display: flex;
}

.current__book{
    width: 25%;
    height: auto;

}
.current__genre{
    width: 25%;
    height: 30vh;
}
.current__time{
    width: 25%;
    height: 30vh;
    margin: 50 50;
}
.current__download{
    width: 25%;
    height: 30vh;
}
.navbar__links li:hover{
    background-color: #00a6fb;
}


.books{
    width: 100%;
    height: auto;
    background-color:#006494 ;
}
.books__pdf{
    width: 94%;
    margin-inline: 1.5rem;
    display:grid;
    column-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%; 
    
}


.books__img embed{
    width: 100%;
    height: 30vh;
    background-color: #00a6fb;
    margin-top: 1.5rem;
    
}
.books__download button{
    background-color: #00a6fb;
    color: azure;
    border-style: none;
    border-radius: 6px;
    font-weight: bold;
    height: 1.5rem;
    width: 120px;
}
.books__buttons{
    display: flex;
    justify-content: space-between;
    
}
.books__vote span{
    backdrop-filter: blur(10px);
    color: rgb(255, 249, 249);
    font-weight: bold;
    
}

.books__button a{
    position: fixed;
    right: 0;
    bottom: 0;
 
    }
.button{
    position: fixed;
    right: 50px;
    bottom: 60px;
    z-index : 1 ;
    width: 200px;
    height: 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    background-color: aliceblue;
    border-radius:10px;
}



  
   



