*{
    margin: 0;
    line-height: calc(1em + 0.5rem)
}
html{
    scroll-behavior: smooth;
    background-color: #051923;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #051923;

}
.header__logo{
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    list-style: none;
}
.header__img{
    position: absolute;
    top: -60px;
    left: 0;
    width: 250px;
    height: 19vh;
}

.header__menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2rem;
    margin-right: 20px;
}

.header__links{
    text-decoration: none;
    color: #00a6fb;
    font-size: 20px;
    display: block;
}
.current{
    width: 100%;
    height: 100%;
    background-color:#003554;
}



.books{
    width: 100%;
    height: auto;
    background-color:#006494 ;
}
.books__pdf{
    width: 100%;
    margin-inline: 1.5rem;
    display:grid;
    column-gap: 10px;
    grid-template-columns: 25% 25% 25% 25%; 
    
}


.books__img embed{
    width: 100%;
    height: 30vh;
    background-color: #00a6fb;
    margin-top: 1.5rem;
    
}
.books__download button{
    background-color: #00a6fb;
    color: azure;
    border-style: none;
    border-radius: 6px;
    font-weight: bold;
    height: 1.5rem;
    width: 120px;
}
.books__buttons{
    display: flex;
    justify-content: space-between;
    
}
.books__vote span{
    backdrop-filter: blur(10px);
    color: rgb(255, 249, 249);
    font-weight: bold;
    
}

.books__button a{
    position: fixed;
    right: 0;
    bottom: 0;
 
    }
.button{
    position: fixed;
    right: 50px;
    bottom: 60px;
    z-index : 1 ;
    width: 200px;
    height: 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    background-color: aliceblue;
    border-radius:10px;
}




.logo {
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 50%;
}

nav {
  flex: 1 1 100%;
}
nav ul {
  list-style: none;
}
#mobile-icon,
[id^="submenu"] {
  display: none;
}

nav a:hover,
nav label:hover {
  background: #688ed8;
}

/*------- mobile nav --------*/
@media (max-width: 767px) {
  nav ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  #mobile-icon:checked ~ nav > ul {
    max-height: 100vh;
  }
  .nav-items ul {
    padding-left: 1rem;
  }
 
  .hamburger-icon {
    width: 18px;
    height: 3px;
    background-color: black;
    display: block;
    position: relative;
  }
  .hamburger-icon:before,
  .hamburger-icon:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    transition: all 0.2s;
  }
  .hamburger-icon:before {
    top: 5px;
  }
  .hamburger-icon:after {
    top: -5px;
  }
  #mobile-icon:checked ~ .toggle {
    border-radius: 50em;
    transition: all 0.2s ease-out;
  }

  /* mobile nav change hamburger to x on click */
  #mobile-icon:checked ~ .toggle .hamburger-icon {
    background-color: transparent;
  }
  #mobile-icon:checked ~ .toggle .hamburger-icon:before {
    top: 0;
    transform: rotate(45deg);
  }
  #mobile-icon:checked ~ .toggle .hamburger-icon:after {
    top: 0;
    transform: rotate(-45deg);
  }
  .hide-mobile {
    display: none;
  }
}
/*-------desktop nav --------*/
@media (min-width: 768px) {
  header {
    flex-wrap: nowrap;
  }
  nav,
  .logo {
    flex: none;
  }
  .toggle,
  nav label {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav li {
    position: relative;
  }
  nav ul ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  li:hover > ul {
    max-height: 100vh;
    overflow: visible;
  }

}

