/*TARGET -> LARGE LAPTOP SCREEN*/
@media (min-width: 1440px){
    .books__img embed{
        height: 80%;
    }
}

/*TARGET -> TABLET SCREEN*/
@media (max-width: 897px){
    
    .books__pdf div{
        width: 75%;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 0.5rem;

    }
    .item1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item2{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .item3{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item4{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .button button{
        right: 30px;
        bottom: 30px;
        width : 200px ;
        height : 56px ;
        font-size : 14px ;
        border-radius:10px;
        }
    
}
@media all and (max-width: 798px){
    
    .books__pdf div{
        width: 75%;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 0.5rem;

    }
    .item1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item2{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .item3{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item4{
        grid-column-start: 3;
        grid-column-end: 5;
    }
   
    
}

@media (max-width: 450px) {
    .books__pdf div{
      display: flex;
      flex-direction: column;
    }
  
    .books__img embed{
      flex-basis: 100%;
      flex-grow: 1;
    }
  }



